{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TechPro</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Pricing-Centered-badges.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Pricing-Centered-icons.css' %}">
</head>

<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">Please let's know <br>a little more<br>about you😃</h2>
                            <form method="post" action="{% url 'submit_kyc' %}">
                                    {% csrf_token %}
                                <div class="mb-3"><input class="form-control" type="text" id="name-2" name="first_name" placeholder="First Name"><input class="form-control" type="text" id="name-1" name="last_name" placeholder="Last Name"></div>
                                <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email Address"></div>
                                <div class="mb-3"><textarea class="form-control" id="message-2" name="aim" rows="6" placeholder="Tell us what you aim to achieve at the end of your course with techpro"></textarea></div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'assets/js/creative.js' %}"></script>

<script>
    // Function to autofill PayPal-like payment form fields
    function autofillPaymentForm() {
        var urlParams = new URLSearchParams(window.location.search);
        var firstName = urlParams.get('first_name');
        var lastName = urlParams.get('last_name');
        var email = urlParams.get('email');
c
        // Check if parameters are present in the URL
        if (firstName && lastName && email) {
            // Set the values in the payment form
            document.getElementById('customer-first-name-pay').value = firstName;
            document.getElementById('customer-last-name-pay').value = lastName;
            document.getElementById('customer-email-pay').value = email;
        }
    }

    // Attach the autofill function to the window's load event
    window.onload = autofillPaymentForm;
</script>


</body>

</html>